.main2 {
    /* border: 1px black; */
    /* width: 100%; */
    /* overflow-x: hidden; */
    /* overflow: auto */
    /* word-wrap: break-word */
    /* white-space: nowrap */
    overflow-wrap: break-word
}

.form {
    width: 700px;
    /* height: 100px; */
    background: linear-gradient(89deg, #60A8A6 0%, #BCF5F3 100%)
}

.display-linebreak {
    white-space: pre-line;
    overflow-wrap: break-word
  }

.button-container {
    border: 1px black;
    padding-bottom: 10px;;
}

.button-container2 {
    padding-bottom: 5px;
}

.detect-button-container {
    padding: 0 5px;
    border: 5px black;
    display: flex;
    align-items: center;;
}

.detect-button-container2 {
    padding: 0 5px;
    border: 5px black;
}

.detect-button-container input {
    padding: 5px;
}