.App {
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}

.center {
  display: flex;
  justify-content: center;
}

.clickable-element {
    cursor: pointer;
    text-decoration: none; 
  }

.clickable-element:hover {
    text-decoration: underline;
  }

.signin {
  padding: 0px 30px;
}

.register {
  padding: 0px 30px;
}

.main {
  padding: 0px 30px;
}